

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1-pg-news {
    font-size: 36px;
}

.h2-pg-news {
    max-width: 530px;
    margin-bottom: 10px;
}

.date-pg-news {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-secondary);
}

.img-big-news {
    position: relative;
    max-width: 100%;
    height: 480px;
    margin-top: 30px;
    background-image: url(../images/pg-news/img-pg-news1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.lorem-news {
    position: absolute;
    width: 100px;
    padding: 4px 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    top: 10px;
    left: 10px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-primary);
    background-color: var(--bg-button);
}