/* URL fonts Start*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* URL fonts End */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis Start */

:root {
    --font-primary: 'Lexend Deca', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --color-primary: #FEFBFB;
    --color-secondary: #C4C4C4;
    --bg-button: #8257E6;
}

/* Variáveis End */

body {
    background-color: #13131F;
    padding-bottom: 40px;
}

.naped {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 24px;
    color: var(--bg-button);
}

#icon-menu {
    color: var(--color-primary);
    font-size: 26px;
    display: none !important;
}

#icon-menu:hover {
    cursor: pointer;
    color: var(--bg-button);
}

/* Header Start */

.container {
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
}

.content-header {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    align-items: center;
}

#menu {
    display: flex;
    margin-left: 300px;
}

#menu ul {
    display: flex;
    flex-direction: row;
    gap: 45px;
    list-style: none;
}

.options-a {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-primary);
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
}

.options-a::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
    height: 2px;
    background-color: var(--bg-button);
    transition: all 0.3s ease-in-out;
}

.options-a:hover:before {
    width: 100%;
    right: 0;
}


.account {
    width: 120px;
    padding: 5px 5px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--color-primary);
    border: 2px solid var(--bg-button);
    border-radius: 20px;
    cursor: pointer;
}

.account:hover {
    background-color: #000;
}


/* Header End */

h1 {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 48px;
    color: var(--color-primary);
    line-height: 60px;
    padding-top: 100px;
}

h2 {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 20px;
    color: var(--color-secondary);
    max-width: 490px;
    line-height: 30px;
    padding-top: 15px;
}


/* Content-main Start */

.section-top {
    display: flex;
    justify-content: space-between;
}

.section-bottom {
    display: flex;
    padding-top: 35px;
    gap: 30px;
    flex-wrap: wrap;
}

.content-main {
    width: 840px;
    min-height: 600px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.card-twd {
    background-image: url(../images/pg1/bg-twd.png);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .4);
    position: relative;
    max-width: 100%;
    height: 370px;
    border-radius: 5px;
}

.card-twd .lorem {
    position: absolute;
    width: 80px;
    padding: 4px 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    top: 18px;
    left: 30px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-primary);
    background-color: var(--bg-button);
}

.card-twd .p-card-twd {
    position: absolute;
    bottom: 0;
    padding: 0px 60px 20px 28px;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 26px;
    width: 100%;
    color: var(--color-primary);
    background-image: linear-gradient(to bottom,
            rgba(19, 19, 31, 0),
            #13131F);
}

.content-cards {
    margin-top: 40px;
    display: flex;
    height: 832px;
    gap: 40px 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.content-cards::-webkit-scrollbar {
    width: 8px;
}

.content-cards::-webkit-scrollbar-thumb {
    background-color: var(--bg-button);
    border: 2px solid #282830;
}

.content-cards::-webkit-scrollbar-track {
    background-color: #282830;
}

.content-txt {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-top: 5px;
}

.card-img-main {
    position: relative;
    width: 200px;
    height: 138px;
    background-image: url(../images/pg1/card-img1.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.card-img2 {
    background-image: url(../images/pg1/card-img2.png);
}

.card-img3 {
    background-image: url(../images/pg1/card-img3.png);
}

.card-img4 {
    background-image: url(../images/pg1/card-img4.png);
}

.card-img5 {
    background-image: url(../images/pg1/card-img5.png);
}

.card-img-main::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-image: linear-gradient(to bottom,
            rgba(19, 19, 31, 0),
            #13131F);
}

.content-cards .lorem-card-main {
    position: absolute;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    width: 70px;
    padding: 3px 2px;
    background-color: var(--bg-button);
    color: var(--color-primary);
    top: 7px;
    left: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.p-card-h1 {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    max-width: 480px;
    color: var(--color-primary);

}

.p-card-h2 {
    font-family: var(--font-secondary);
    font-weight: 400;
    color: var(--color-secondary);
    max-width: 470px;
    font-size: 13px;
    line-height: 18px;
}

.date {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 12px;
    color: var(--color-secondary);
}

.button-card-news {
    width: 120px;
    padding: 6px 5px;
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 13px;
    color: var(--color-primary);
    background-color: var(--bg-button);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-card-news:hover {
    background-color: #673ec7;
}

h4 {
    position: relative;
    font-family: var(--font-primary);
    font-weight: 400;
    max-width: 270px;
    color: var(--color-primary);
    font-size: 22px;
    margin-top: 30px;
    padding-bottom: 10px;
}

h4::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 230px;
    height: 3px;
    background-color: var(--bg-button);
}


.card-section-bottom {
    width: 380px;
    height: 265px;
    background-image: url(../images/pg1/img-section-bottom1.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .3);
    position: relative;
    border-radius: 5px;
}

.card-section-bottom2 {
    background-image: url(../images/pg1/img-section-bottom2.png);
}

.card-section-bottom3 {
    background-image: url(../images/pg1/img-section-bottom3.png);
}

.card-section-bottom4 {
    background-image: url(../images/pg1/img-section-bottom4.png);
}

.card-section-bottom5 {
    background-image: url(../images/pg1/img-section-bottom5.png);
}

.card-section-bottom6 {
    background-image: url(../images/pg1/img-section-bottom6.png);
}

.card-section-bottom::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom,
            rgba(19, 19, 31, 0),
            #13131F);
}

/* Content-main End */


/* Content-aside Start */

aside {
    width: 338px;
    height: 600px;
}

.card-aside {
    background-image: url(../images/pg1/card-aside1.png);
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .2);
    margin-top: 60px;
    position: relative;
    border-radius: 5px;
}

.lorem-card {
    font-family: var(--font-primary);
    font-size: 12px;
    background-color: var(--bg-button);
    text-align: center;
    color: var(--color-primary);
    position: absolute;
    top: 10px;
    left: 10px;
    width: 65px;
    padding: 3px 2px;
    border-radius: 3px;
    cursor: pointer;
}

.card-aside .p-card-aside1 {
    position: absolute;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 13px;
    color: var(--color-primary);
    line-height: 19px;
    bottom: 0;
    padding: 0px 20px 10px 10px;
    background-image: linear-gradient(to bottom,
            rgba(19, 19, 31, 0),
            #13131F);
}

.card-aside2 {
    background-image: url(../images/pg1/card-aside2.png);
    margin-top: 15px;
}

h3 {
    font-family: var(--font-primary);
    font-weight: 400;
    max-width: 270px;
    color: var(--color-primary);
    font-size: 22px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--bg-button);
}

.card-aside-main {
    width: 338px;
    height: 250px;
    margin-top: 15px;
    background-image: url(../images/pg1/img-main1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .3);
    position: relative;
    border-radius: 5px;
}

.card-aside-main2 {
    background-image: url(../images/pg1/img-main2.png);
}

.card-aside-main3 {
    background-image: url(../images/pg1/img-main3.png);
}

.p-card-aside {
    position: absolute;
    bottom: 0;
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 19px;
    font-size: 13px;
    color: var(--color-primary);
    padding: 0px 30px 10px 10px;
}

.card-aside-main::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom,
            rgba(19, 19, 31, 0),
            #13131F);
}

/* Content-aside End */


/* Footer Start */

footer {
    padding-top: 80px;
    text-align: center;
}

.p-footer {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-secondary);
    line-height: 23px;
    padding-top: 15px;
}

/* Footer End */


/* Mobile Start */

@media (max-width:1230px) {
    aside {
        display: none;
    }

    .section-top,
    .section-bottom,
    .container {
        justify-content: center;
    }

    .container {
        max-width: 800px;
    }

    .account {
        width: 90px;
        font-size: 10px;
    }

    #menu {
        gap: 40px;
        margin-left: 0px;
        text-align: end;
        padding-top: 10px;
    }
}

@media (max-width: 850px) {

    #menu {
        display: none;
        width: 100%;
    }

    .card-twd {
        height: 420px;
        margin: 0px 10px;
    }

    .card-twd .p-card-twd {
        padding: 0px 50px 10px 10px;
        font-size: 18px;
    }

    .content-header {
        flex-direction: column;
    }

    .naped-icon {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #icon-menu {
        display: block !important;
        font-size: 32px;
    }

    .account {
        font-size: 18px;
        width: 100%;
        margin-top: 40px;
    }

    .container {
        padding: 0px 10px;
    }

    h4 {
        margin: 35px 0px 20px 0px;
    }

    .content-cards {
        justify-content: center;
    }

    footer {
        padding-top: 50px;
    }

    .card-img-main {
        width: 280px;
        height: 165px;
    }

    #menu ul {
        flex-direction: column;
        gap: 10px;
    }

}

/* Mobile End */