/* Variáveis Start */

:root {
    --font-primary: 'Lexend Deca', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --color-primary: #FEFBFB;
    --color-secondary: #C4C4C4;
    --bg-button: #8257E6;
}

/* Variáveis End */